@import "bourbon"
@import "vars.sass"
@import "sprite.sass"
@import "fonts.sass"
@import "jquery.fancybox.min.scss"
@import "app/libs/owl.carousel/src/scss/owl.carousel.scss"
@import "app/libs/bootstrap/scss/bootstrap-reboot.scss"
@import "app/libs/bootstrap/scss/bootstrap-grid.scss"

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

body
	font-size: 14px
	min-width: 320px
	position: relative
	line-height: 1.6
	font-family: 'Roboto', sans-serif
	overflow-x: hidden
	opacity: 1

a, a:hover, a:focus
	text-decoration: none
	outline: none

button, button:focus
	cursor: pointer
	outline: none

ul
	list-style-type: none
	padding: 0
	margin: 0

h1, h2, h3, h4, h5
	padding: 0
	margin: 0
	font-weight: normal

input, input:focus
	outline: none

img
	max-width: 100%

//Custom Styles Here


//ALWAYS END
@import "media"
